@{
    ViewBag.Title = "About Trucker Pay";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This app was born of a desire to track miles and pay before pay day. I used to be a truck driver and with limited time on hand I was looking for a way to keep track of the 
    miles I ran each week so I could know what my pay checks would be each week. I searched the internet and found nothing out there to do that with the way we are paid and the
    different things that need to be considered so I made myself a spreadsheet to track them. When my son was born, I stopped driving trucks to stay home and take care of him but
    my husband stayed over the road and so the need for that spreadsheet was still there. 8 years later and there are still limited resources available online that track pay by the 
    mile or allow for all the accessorial pay items to calculate an accurate view of what our checks should look like. </p>

<p> I built The Truck Driver Pay App to fill that need. It provides a way to figure your load pay to include things like layover pay, detention pay, and such. It allows for the user 
    enter in different pay rates for the driver that is paid a different amount for empty miles and loaded miles.
    </p>