@{
    ViewBag.Title = "Trucker Pay App Contact ";
}
<h2 style="color: white ">@ViewBag.Title</h2>


<address style="color: white ">
    Marji Sandoval
    5823 Beatle Dr, Apt C<br />
    Indianapolis, IN 46216<br />
    <abbr title="Phone">P:</abbr>
    317.431.4376
</address>

<address style="color: white ">
    <strong>Support:</strong>   <a href="mailto:Marjorie.Sandoval74@gmail.com" style="color: yellow">Support Email</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marjorie.Sandoval74@gmail.com" style="color: yellow">Marketing Email</a>
</addressstyle>