@{
    ViewBag.Title = "Trucker Pay App Contact Information";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Marji Sandoval
    5823 Beatle Dr, Apt C<br />
    Indianapolis, IN 46216<br />
    <abbr title="Phone">P:</abbr>
    317.431.4376
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Marjorie.Sandoval74@gmail.com">Support Email</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marjorie.Sandoval74@gmail.com">Marketing Email</a>
</address>