
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trucker Pay App</h1>
    <p class="lead">This is an app that can be used by Truck drivers to determine their weekly pay and pay per load. It also tracks shippers and 
       receivers.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Loads</h2>
        <p>
            This allows drivers to track their shippers and receivers for future reference.
        </p>
    </div>
    <div class="co,-md-4">
        <h2>Load Pay</h2>
        <p>This feature allows drivers to see their gross pay on each load they run without any accessorial pay included. </p>
    </div>
    <div class="col-md-4">
        <h2>Weekly Pay</h2>
        <p>This feature allows drivers to get an idea of what their pay will look like after all accessorial pay is added as well as all deductions are taken out for Insurance
        taxes, and any advances taken.</p>
    </div>
</div>
